.test {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

form {
    margin-top: 50px;
}

header {
    text-align: center;
    height: 100px;
    background-color: #4BCA81;
}

.tokens {
    margin-top: 40px;
}

input {
    margin-left: 5px;
}